redirect 301 /HomePage http://sitracker.org/
redirect 301 /revisions.xml http://sitracker.org/w/index.php?title=Special:RecentChanges&feed=rss
redirect 301 /viewforum.php http://sitracker.org/forum/
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L] 
RewriteRule ^wiki/(.*)$ /w/index.php?title=$1 [PT,L,QSA]
RewriteRule ^wiki/*$ /w/index.php [L,QSA]
###RewriteRule ^/*$ /w/index.php [L,QSA]
</IfModule>
ErrorDocument 404 /404.php